body{
    background-image: url(./Screenshot\ \(174\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#superparent{
    height: 740px;
    width: 750px;
    border: 1px solid;
    margin: 0 auto;
    margin-top: 82px;
    border: none;
    display: flex;
    justify-content: center;
}
#box1{
    height: 590px;
    width: 300px;
    background-color: #2874f0;
    color: #fff;
    
}
#box2{
    height: 590px;
    width: 400px;
    background-color: #f0f0f0;
}
h1{
    padding-left: 40px;
    padding-top: 20px;
    font-family: 28px Roboto,Arial,sans-serif;
    color: #ffffff;
}
h3{
    padding-left: 40px;
    color: #DBDBDB;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 500;
}
#img{
    height: 200px;
    width: 300px;
    background-image: url(https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/login_img_c4a81e.png);
    background-position:center 85%;
    background-repeat: no-repeat;
    margin-top: 180px;
}
#ot{
    width: 80%;
    border: none;
    border-bottom: 1px solid #878787;
    outline: none;
    margin: 0px auto;
    margin-top: 70px;
    margin-left: 20px;
    background-color: #f0f0f0;
    font-size: larger;
}
#pp{
    padding: 20px;
    color: #878787;
}
#oo{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    background-color: #fb641b;
    color: #f0f0f0;
    border: none;
    height: 45px;
    width: 360px;
    margin: 0 auto;
}
#cr{
    display: flex;
    justify-content: center;
    margin-top: 270px;
    font-family: Roboto,Arial,sans-serif;
}
#superparent div a{
    text-decoration: none;
    font-weight: 300;
}